{{!-- <footer class="navbar fixed-bottom bg-dark d-flex justify-content-center align-items-baseline">
    <p class="text-white mx-3">Proyecto Módulo 2 de Ironhack - Desarrollado por <a class="developer" href="https://github.com/AngelaHerrador" target="_blank">Ángela Herrador</a> y <a href="https://github.com/xavirepi" target="_blank"
            class="developer">Javier Repi</a></p>
</footer> --}}