<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/">
            <img class="logo__header" src="./img/logo.png" alt="HireHack logo">
        </a>
        {{!-- <a class="navbar-brand" href="#">HireHack</a> --}}
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{#if currentCompany}}company-profile{{else}}company-signup{{/if}}">{{#if currentCompany}}Mi perfil{{else}}Empresas{{/if}}</a>
                </li>
                {{#if currentCompany}}
                <form action="/company-logout" method="POST">
                    <li>
                        <button>Cerrar sesión</button>
                    </li>
                </form>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/candidate-signup" tabindex="-1" aria-disabled="true">Candidatos</a>
                    </li>
                {{/if}}
                {{!-- REVISAR --}}
                {{#if currentCandidate}}
                <li class="nav-item">
                    <a class="nav-link" href="/candidate-profile">Mi perfil</a>
                </li>
                <form action="/candidate-logout" method="POST">
                    <li>
                        <button>Cerrar sesión</button>
                    </li>
                </form>
                {{/if}} 
            </ul>
            {{!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> --}}
        </div>
    </div>
</nav>