{{#if flashMessage}}
<div class="toast-config position-fixed" style="z-index: 5">
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast show toast-msg" data-bs-autohide="true">
        <div class="">
            HireHack 
            </br>
            {{flashMessage}}
        </div>
    </div>
</div>
{{/if}} 
