<h1>TO RENDER IN THE VIEW</h1>
<p>Por favor, ve a tu email para confirmar la solicitud y finalizar el proceso.</p>

{{!-- THIS WILL GO INTO THE CONFIRMATION EMAIL --}}
<h1>CONFIRMATION EMAIL (SIMULATION)</h1>
<h3>Hola {{name}}</h3>
<p>Hemos recibido tu solicitud para dar de baja tu perfil en HireHack.</p>
<br>
<p>Para completar el proceso, por favor, haz click <a href="/delete-profile/{{_id}}">aquí</a></p>
<br>
<p class="text-secondary">¿No has sido Tú? Por favor, ponte en contacto con nosotros a través de <a href="/go-to-email-link">nuestro email</a></p>