<div>
    <h1>Acceso denegado</h1>
    <p>Para ver esta página debes tener una cuenta válida.</p>
    <button class="btn btn-primary">
        <a class="nav-link text-white" href="/company-login">Acceso como empresa</a>
    </button>
    <button class="btn btn-warning mx-3">
        <a class="nav-link text-dark" href="/candidate-login">Acceso como candidato</a>
    </button>
    </ul>
</div>