<div>
    <h1>Ups, ha habido un error &#128531;</h1>
    <p>{{status}}: {{message}}</p>
    <img style="width: 75%;" src="https://p4.wallpaperbetter.com/wallpaper/35/197/279/movies-puss-in-boots-wallpaper-preview.jpg" alt="error">
</div>