<h1>Bienvenid@ a HireHack!!</h1>
<a class="nav-link active" aria-current="page" href="/main-login">Acceso</a>

<iframe width="700" height="405" src="https://www.youtube.com/embed/A0rdpQizK9Y?start=2" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<h2>Empleo</h2>
<h3>Tasa de paro en España</h3>
<div id="chart_div" style="width: 900px; height: 558px;"></div>
<p>Datos obtenidos en el INE (Instituto Nacional de Estadística)</p>

<h3>Teletrabajo</h3>
<canvas id="circleGraphic" width="10" height="5"></canvas>
<p>Datos obtenidos en la API-V2 "Themuse" </p>

<h2>Habilidades</h2>