<ul>
    <li class="nav-item">
        <a class="nav-link" href="/company-login">Empresas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/candidate-login">Candidatos</a>
    </li>
</ul>