/* MAIN */

/* html {
    background-image: url('/img/KIZOA-Movie-Maker-b23zmzsb.gif');
    background-size: 280px;
    background-position: 0% -70%; 
    background-position-y: center; 
    background-repeat: repeat-x;
   
}

body{
    margin: 0px 240px 0px 280px;
    display: none; 
}  */

/* NAVBAR */

.logo__header{
    width: 30%;
}

.logoHome{
    width: 500px;
}
.iframeVideo{
    width:100%;
    float:left;
    text-align:center;
}

iframe {
    margin: 20px auto;
}

#chart_div{
    margin: 20px auto;
}

img {
    width: 25%;
}

/* .home> h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.home> h2 {
    margin-top: 20px;
    margin-bottom: 20px;
} */

canvas {
    margin: 20px;
}
/* HOME */

.first_img {
    position: absolute;
    width: 80%;
}

.second_img {
    position: relative;
    width: 33%;
    left: 50%;
}

#map {
    height: 400px;
}

header {
    background-image: url("../img/headerBG.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
}