/* MAIN */

/* html {
    background-image: url('/img/KIZOA-Movie-Maker-b23zmzsb.gif');
    background-size: 280px;
    background-position: 0% -70%; 
    background-position-y: center; 
    background-repeat: repeat-x;
   
}
*/

body, html{
    min-height: 60rem;
}  

/* NAVBAR */
.navbar {
    background-color: #276678;
}

.logo-header{
    width: 10%;
}

.btn {
    font-size: 1.3rem;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}

.btn-offers {
    color: #ffffff;
    border-color: #ffffff;
    display:inline;
}

.btn-access {
    color: #276678;
    border-color: #276678;
    background-color: #fff;
    display:inline;
}

.btn-logout {
    color: #276678;
    border-color: #276678;
    background-color: #fff;
    display:inline;
    align-self: center;
}

.profile-status{
    font-size: 1.3rem;
    color: #fff;
    align-self: center;
}

.profile-status, .btn-logout {
    margin-right: 0;
}



/* HOME */

.logoHome{
    width: 500px;
}
.iframeVideo{
    width:100%;
    float:left;
    text-align:center;
}

iframe {
    margin: 20px auto;
}

#chart_div{
    margin: 20px auto;
}

img {
    width: 25%;
}

.home> h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.home> h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

canvas {
    margin: 20px;
}
/* HOME */

.first_img {
    position: absolute;
    width: 80%;
}

.second_img {
    position: relative;
    width: 33%;
    left: 50%;
}

#map {
    height: 400px;
}


/* --- OUR CONTENTS SECTION --- */

.our-contents {
    background-color: #f6f5f5;
    padding: 30px 0px 10px 20px;
}

.our-contents ul {
    list-style: none; 
    text-decoration: none; 
    padding: 0;
}

.our-contents li {
    text-transform: capitalize;
    color: #5b5e6d;
    margin: 10px 0;
    font-size: .9rem;
    font-weight: 300;
}

.our-contents a {
    text-decoration: none;
    color: #5b5e6d;
}

.our-contents img {
    width: 50px;
    margin-bottom: 40px;
}

/* --- FOOTER --- */

footer {
    background-color: #276678;
    text-transform: capitalize;
    color: #fff;
    font-size: .8em;
    padding: 10px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
}

footer li {
    margin: 10px;
    text-transform: capitalize;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.SP {
    width: 20px;
}

.fa {
    width: 25px;
    padding: 10px;
}