<h1>Perfil de Candidato</h1>
<img src="{{currentCandidate.picture}}" alt="Foto de perfil">

<p>Conectado como {{currentCandidate.name}}</p>

<form action="/candidate-logout" method="POST">
    <li>
        <button>Cerrar sesión</button>
    </li>
</form>

<a class="btn btn-success d-inline" href="/edit-candidate/{{id}}">Editar mi perfil</a>
<form class="delete-form d-inline" action="/delete-candidate/{{currentCandidate._id}}" method="post">
    <button type="submit" class="btn btn-danger" onclick="return clicked()">Eliminar Perfil Candidato</button>
</form>