<h1>Candidate Profile Page</h1>
<p>{{name}}</p>

<p>Conectado como {{currentCandidate.name}}</p>

<form action="/candidate-logout" method="POST">
    <button class="btn btn-primary mt-3" type="submit">Cerrar sesión</button>
</form>

