<h1>Iniciar sesión como candidato</h1>
<div class="col mb-2">
    <div class="row">
        <form action="/candidate-login" method="POST">
            <div class="form-group">
                <label for="email-input"> Email: </label>
                <input class="form-control" type="email" value="{{candidate.email}}" name="email" id="email-input" required>
            </div>
            <div class="form-group">
                <label for="password-input"> Contraseña: </label>
                <input class="form-control" type="password" name="password" id="password-input"
                    required>
            </div>
            {{#if errors}}
            <div class="error-message">{{errors}}</div>
            {{/if}}

            <button class="btn btn-primary mt-3" type="submit">Iniciar sesión</button>
            <a href="/authenticate/google" class="btn btn-primary mt-3">Iniciar sesión con Google</a>
        </form>
    </div>
</div>
<p>¿Todavía no estás registrado? <a href="/candidate-signup">Registrarme</a></p>