<div class="container-xl container-lg container-md container-fluid login">
    <h1>Introduce tu nueva contraseña</h1>
    <div class="col mb-2">
        <div class="row">
            <p>Actualización de contraseña para la cuenta: <b>{{currentCandidate.email}}</b></p>
            <form action="/candidate-edit-password" method="POST">
                <div class="form-group">
                    <label class="label-login" for="new-password-input"> Nueva Contraseña: </label>
                    <input class="form-control {{#if errors}}is-invalid{{/if}}" type="password"
                        name="newPassword" id="new-password-input">
                    {{#if errors.password}}
                    <div class="invalid-feedback">{{errors.password}}</div>
                    {{/if}}
                    <label class="label-login" for="confirm-password-input"> Repetir Nueva Contraseña: </label>
                    <input class="form-control {{#if errors}}is-invalid{{/if}}" type="password"
                        name="confirmPassword" id="confirm-password-input">
                    {{#if errors.confirmPassword}}
                    <div class="invalid-feedback">{{errors.confirmPassword}}</div>
                    {{/if}}
                    <button class="btn btn-access mt-3" type="submit">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>