<h1>Company Profile Page</h1>

<p>Has iniciado sesión como {{currentCompany.name}}</p>

<a href="/offer-creation">Crear Oferta</a>

<form action="/company-logout" method="POST">
    <li>
        <button>Cerrar sesión</button>
    </li>
</form>