<img src="{{currentCompany.picture}}" alt="Foto de perfil">
<h1>Perfil de Empresa</h1>

<p>Has iniciado sesión como {{currentCompany.name}}</p>

<a href="/offer-creation">Crear Oferta</a>
<br>
<a href="/offers-list/{{_id}}">Ver mis ofertas</a>
<br>
<a class="btn btn-success d-inline" href="/company-edit/{{currentCompany._id}}">Editar mi perfil</a>

